
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>APT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
    <style>
      
      body {
        background-color: #3273dc;
      }
      
      .section {
        height: 100vh; 
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .title {
        color: white;
        text-shadow: 2px 2px black;
      }
    </style>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Applied Computer Technology</h1>
        <p class="has-text-white">Applied computer technology includes the development and use of computer software, 
            hardware, and systems to improve the efficiency, accuracy, and productivity of various processes and tasks. 
            This can include the design and implementation of new software systems, the integration of technology into existing systems, 
            and the development of new hardware devices that can be used to solve specific problems.
            </p>
      </div>
    </section>
  </body>
</html>
